name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          WAKATIME_USER_ID: ${{ secrets.WAKATIME_USER_ID }}
          SHOW_TITLE: true
          SECTION_NAME: waka
          TIME_RANGE: last_7_days
          LANG_COUNT: 7
          SHOW_TIME: true
          TARGET_BRANCH: main
          TARGET_PATH: README.md
          COMMIT_MESSAGE: "Updated WakaTime stats ⏱️"
